<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Extended"/>
		<add assembly="NLog.MailKit"/>
	</extensions>
	<targets>
		<target name="fileTarget"
			xsi:type="File"
			fileName="C:\logs\example.log"
			layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />
		<target
			name="MailAlerta"
			xsi:type="Mail"
			html="true"
			subject="Alerta de stock bajo en la papeleria"
			to="${mdlc:item=ToEmail}"
			from="Papeleria@mail.martinl.dev"
			layout="${shortdate}${newline}${message}${newline}"
			encoding="UTF-8"
			smtpUserName="apikey"
			enableSsl="false"
			smtpPassword="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"
			smtpAuthentication="Basic"
			smtpServer="smtp.sendgrid.net"
			smtpPort="25">
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="MailAlerta" />
	</rules>
</nlog>